@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.5s ease;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.common-padding {
  padding: 20px 120px;
}

.btn-primary {
  background: #d99f46;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px 10px;
  border-radius: 5px;
}

.btn-secondary {
  color: #d99f46;
  border: 2px solid #d99f46;
  font-size: 16px;
  padding: 8px 15px 10px;
  border-radius: 5px;
}
.btn-secondary:hover {
  background: #d99f46;
  color: #fff;
}

.search-bar {
  width: 432px;
  border: 1px solid #ececec;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  outline: 0;
}
.search-bar:focus {
  border: 1px solid #d99f46;
}

.search-btn {
  background: #d99f46;
  color: #fff;
  border: 1px solid #d99f46;
  border-radius: 0px 5px 5px 0px;
  width: 50px;
  height: 50px;
}

.after-effect {
  content: "";
  width: 0px;
  height: 3px;
  background: #d99f46;
  position: absolute;
  left: 0;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.btn-form {
  transition: all 0.3s ease;
  position: relative;
  color: #fff;
  background: linear-gradient(90deg, #ff6b6b 0%, #ff4f4f 100%);
  border-radius: 5px;
  font-weight: 600;
  outline: 0;
  border: 0;
  padding: 12px;
  font-size: 18px;
}
.btn-form::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background: #ff4f4f;
  background: linear-gradient(90deg, #ff4f4f 0%, #ff6b6b 100%);
  transition: all 0.3s ease;
}
.btn-form:hover::after {
  top: 0;
  height: 100%;
}

.error {
  font-size: 12px;
  font-weight: 300;
  color: #f00;
  padding-top: 5px;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.overlay .popup {
  width: 430px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 5px;
}
.overlay .popup .popup-header h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  color: #222;
}
.overlay .popup .popup-header p {
  font-size: 14px;
  font-weight: 400;
  color: #4a5568;
}
.overlay .popup .pop-close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #d99f46;
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  cursor: pointer;
}
.overlay .popup .pop-close svg {
  width: 20px;
  display: inline-block;
  height: 20px;
}
.overlay .popup .popup-body {
  padding: 30px 0 0;
  position: relative;
}
.overlay .popup .popup-body .search-bar {
  width: 100%;
  border-radius: 5px;
  padding-left: 45px;
}
.overlay .popup .popup-body .search-icon {
  position: absolute;
  top: 42px;
  left: 15px;
  color: #222;
}
.overlay .popup .popup-body .select-location {
  padding-top: 20px;
}
.overlay .popup .popup-body .select-location .location-text {
  padding-left: 10px;
  font-size: 14px;
  color: #4a5568;
}
.overlay .popup .popup-body .select-location .location-scroll {
  overflow-y: scroll;
  height: 150px;
  margin-top: 15px;
  border-top: 1px solid #4a5568;
}
.overlay .popup .popup-body .select-location .location-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(85, 85, 85, 0.5);
}
.overlay .popup .popup-body .select-location .location-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(85, 85, 85, 0.14);
}
.overlay .popup .popup-body .select-location .location-scroll::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
  border-radius: 50px;
}
.overlay .popup .popup-body .select-location .location-scroll ul li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #4a5568;
  padding: 10px;
  cursor: pointer;
}
.overlay .popup .popup-body .select-location .location-scroll ul li .price {
  border: 1px solid #4a5568;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 10px;
}
.overlay .popup .popup-body .select-location .location-scroll ul li .price span {
  margin: 0 2px 0 5px;
}
.overlay .popup .popup-body .select-location .location-scroll ul li:hover {
  background: rgba(217, 159, 70, 0.4392156863);
  color: #d99f46;
}
.overlay .popup .popup-body .select-location .location-scroll ul li:hover .price {
  background: #d99f46;
  color: #fff;
  border-color: #d99f46;
}/*# sourceMappingURL=Popupp.css.map */