@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.5s ease;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.common-padding, header {
  padding: 20px 120px;
}

.btn-primary {
  background: #d99f46;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px 10px;
  border-radius: 5px;
}

.btn-secondary {
  color: #d99f46;
  border: 2px solid #d99f46;
  font-size: 16px;
  padding: 8px 15px 10px;
  border-radius: 5px;
}
.btn-secondary:hover {
  background: #d99f46;
  color: #fff;
}

.search-bar {
  width: 432px;
  border: 1px solid #ececec;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  outline: 0;
}
.search-bar:focus {
  border: 1px solid #d99f46;
}

.search-btn {
  background: #d99f46;
  color: #fff;
  border: 1px solid #d99f46;
  border-radius: 0px 5px 5px 0px;
  width: 50px;
  height: 50px;
}

.after-effect {
  content: "";
  width: 0px;
  height: 3px;
  background: #d99f46;
  position: absolute;
  left: 0;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.btn-form {
  transition: all 0.3s ease;
  position: relative;
  color: #fff;
  background: linear-gradient(90deg, #ff6b6b 0%, #ff4f4f 100%);
  border-radius: 5px;
  font-weight: 600;
  outline: 0;
  border: 0;
  padding: 12px;
  font-size: 18px;
}
.btn-form::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background: #ff4f4f;
  background: linear-gradient(90deg, #ff4f4f 0%, #ff6b6b 100%);
  transition: all 0.3s ease;
}
.btn-form:hover::after {
  top: 0;
  height: 100%;
}

.error {
  font-size: 12px;
  font-weight: 300;
  color: #f00;
  padding-top: 5px;
}

.Main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main-header .Logo {
  width: 180px;
}
.Main-header .Logo img {
  width: 100%;
}
.Main-header .Location {
  padding: 10px;
}
.Main-header .Location .Location-btn {
  width: 100%;
  background: transparent;
  border: 1px solid #ececec;
  padding: 7px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Main-header .Location .Location-btn .location-arrow {
  display: inline-block;
  background: #ececec;
  color: #222;
  padding: 7px;
  border-radius: 5px;
}
.Main-header .Location .Location-btn .location-arrow svg {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.Main-header .Location .Location-btn .Location-text {
  color: #d99f46;
  font-size: 16px;
  font-weight: 600;
}
.Main-header .Location .Location-btn .Location-icon svg {
  height: 18px;
  width: 18px;
  display: inline-block;
}
.Main-header .Search {
  display: flex;
  padding: 10px;
}
.Main-header .Header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #222;
}
.Main-header .Header-icons .delivery-icon {
  display: none;
  gap: 10px;
  padding: 0 10px;
}
.Main-header .Header-icons .delivery-icon .delivery-content {
  display: none;
}
.Main-header .Header-icons .delivery-icon .delivery-content p {
  font-size: 14px;
}
.Main-header .Header-icons .delivery-icon .delivery-content p:last-child {
  font-weight: 600;
}
.Main-header .Header-icons .Like-icon {
  padding: 0 10px;
}
.Main-header .Header-icons .Like-icon a {
  color: #222;
}
.Main-header .Header-icons .cart-icon {
  padding: 0 10px;
  border-left: 1px solid #222;
}
.Main-header .Header-icons .cart-icon .cart-div {
  display: flex;
  flex-direction: column;
  position: relative;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-button {
  background: transparent;
  border: 0;
  outline: 0;
  position: relative;
  color: #222;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-button span {
  position: absolute;
  top: -5px;
  left: 15px;
  background-color: #ff7272;
  color: #fff;
  font-size: 12px;
  padding: 0px 5px;
  border-radius: 3px;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension {
  background-color: #fff;
  width: 300px;
  position: absolute;
  z-index: 2;
  top: 60px;
  right: -20px;
  border-radius: 7px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  transition: all 0.3s ease-in-out;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-items {
  display: flex;
  gap: 10px;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-items .item-image {
  width: 30%;
  background: #ececec;
  padding: 10px;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-items .item-image img {
  width: 100%;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-items .item-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-items .item-data .item-close {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  color: #222;
  cursor: pointer;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-items .item-data h4 {
  color: #d99f46;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0px;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-items .item-data p {
  color: #222;
  margin-bottom: 0;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-items .item-data p span {
  font-size: 12px;
  padding: 0 3px;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension hr {
  border-color: #ececec;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-price {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
  border-top: 1px solid #ececec;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-price .Total-price {
  display: flex;
  justify-content: space-between;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-price .Total-price p {
  font-size: 18px;
  color: #222;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-price .Total-price p:last-child {
  color: #d99f46;
  font-weight: 700;
}
.Main-header .Header-icons .cart-icon .cart-div .cart-expension .cart-price .checkout {
  display: flex;
  justify-content: space-between;
}
.Main-header .Header-icons .cart-icon:hover .cart-expension {
  visibility: visible;
  opacity: 1;
  top: 50px;
}
.Main-header .Header-icons .user-icon {
  padding: 0 10px;
  border-left: 1px solid #222;
  position: relative;
  cursor: pointer;
}
.Main-header .Header-icons .user-icon .user-div {
  display: flex;
  gap: 10px;
}
.Main-header .Header-icons .user-icon .user-div .user-details {
  display: none;
}
.Main-header .Header-icons .user-icon .user-div .user-details p {
  font-size: 14px;
}
.Main-header .Header-icons .user-icon .user-div .user-details p:last-child {
  font-weight: 600;
}
.Main-header .Header-icons .user-icon .user-login {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 160px;
  padding: 20px;
  background: #fff;
  box-shadow: -1px 0 10px 0 rgba(34, 34, 34, 0.07), 5px 20px 40px 0 rgba(34, 34, 34, 0.04);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.Main-header .Header-icons .user-icon .user-login ul {
  padding-left: 0rem;
  margin-bottom: 0rem;
}
.Main-header .Header-icons .user-icon .user-login ul li {
  font-size: 15px;
  line-height: 2;
}
.Main-header .Header-icons .user-icon .user-login ul li a {
  color: #222;
  position: relative;
}
.Main-header .Header-icons .user-icon .user-login ul li a::after {
  content: "";
  width: 0px;
  height: 3px;
  background: #d99f46;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.Main-header .Header-icons .user-icon .user-login ul li:hover a::after {
  width: 100%;
}
.Main-header .Header-icons .user-icon:hover .user-login {
  visibility: visible;
  opacity: 1;
  top: 40px;
}/*# sourceMappingURL=Header.css.map */