$primary-color: #d99f46;
$secondary-color: #222;
$light-dark: #4a5568;
$primary-color-light: #d99f4670;
$dark-grey: #c1c1c1;
$grey: #ececec;
$light-grey: #f8f8f8;
$greish: #ced4da;
$white: #fff;
$red: #ff4f4f;
$blue: #4a5568;